# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

Django/venv/
result_ui/venv/
.DS_Store
Django/db.sqlite3

# 자꾸 지혼자 변하는 파일
package_config.json
Flutter/locker_reservation_system/.dart_tool/package_config.json
Flutter/locker_reservation_system/.dart_tool/package_config_subset
.dart_tool/package_config.json
Flutter/locker_reservation_system/.dart_tool

# flutter .env
Flutter/locker_reservation_system/assets/config/.env

# Build Files
# Django/flutter_web_app
# Flutter/locker_reservation_system/build
